@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "tahoma";
  color: rgb(81, 78, 78);
}
h1{
  color: #820d30;
}
.header {
  color:#820d30;
  justify-content: center;
  padding: 10px;
  display: flex;
  align-items: auto;
  max-width: 100%;
  margin: 10px;
  border: 1px solid #820d30;
  border-radius: 8px
}
.App {
  color:#820d30;
  background-color: aqua;
  font-family: sans-serif;
  text-align: center;
}

.grid {
  background-color: aqua;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
}

.content {
  background-color: aqua;
  max-width: auto;
  margin: 40px auto;
  padding: 25px;
}

.preview {
  max-width: 100%;
  margin: 20px;
  border: 1px solid #820d30;
  border-radius: 8px;
  text-decoration: none;
}
.preview:hover {
  box-shadow: 1px 3px 5px rgba(193, 17, 17, 0.775);
}
