@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.header {
  justify-content: center;
  padding: 10px;
  display: flex;
  align-items: auto;
  max-width: 100%;
  margin: 10px;
  border: 1px solid #f1356d;
  border-radius: 8px
}

.content {
  max-width: auto;
  margin: 40px auto;
  padding: 20px;
}

.preview {
  text-decoration: none;
  padding: 10px;
  margin: 10px 0;
  border-bottom: 1px solid #fafafa;
}
.preview:hover {
  box-shadow: 1px 3px 5px rgba(255, 114, 38, 0.775);
}
